.emotion {
  display: flex;
  justify-content: space-between;
}

.emotionBtn {
  align-self: start;
  margin-bottom: 0.5rem;
}

.backBtn {
  align-self: start;
  margin-bottom: 0.5rem;
}

.submitBtn {
  align-self: start;
  margin-left: 0.25rem;
}
