.button {
  position: relative;

  color: black;
  background:#efefef;
  padding: 1px 12px;
  border: 1px solid #767676;
  border-radius:15px;

  font-weight: 400;
}

.loading {
  color: #efefef;
  
  &::after {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border: 1.5px solid transparent;
    border-top-color: #767676;
    border-radius: 50%;
    animation: button-loading-spinner 1s ease infinite;
  }
}

@keyframes button-loading-spinner {
  from {
      transform: rotate(0turn);
  }

  to {
      transform: rotate(1turn);
  }
}