.form {
  display: flex;
  height: 100%;
  flex-direction: column;
}

.form textarea {
  height: 100%;
  resize: vertical;
}

.buttonGroup {
  display: flex;
  justify-content: end;
  margin-top: 1rem;
}

.form button:last-of-type {
  margin-left: 0.5rem;
}
